html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  background-color: #222021;
  color: #e9e9e9;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

input {
  background-color: #363636;
  color: #d9dddc;
  padding: 6px;
  font-size: 1rem;
  outline: none;
  border-width: 1px;
}
input:focus {
  border: 1px solid #0e87cc;
  box-shadow: 0 0 5px 3px rgba(14, 135, 204, 0.9);
}

svg.fill {
  stroke: #0e87cc;
}
svg.fill path.fill-target {
  fill: #0e87cc;
}
svg.fill path:not(.fill-target) {
  fill: #030605;
}

#toolbar {
  height: 54px;
  background-color: #030605;
  display: flex;
  align-items: center;
  margin: 0 10px;
  padding: 0 10px;
  z-index: 100;
}
#toolbar button {
  background-color: transparent;
  color: #d9dddc;
  border: none;
  margin: 2px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
#toolbar button:hover {
  color: #e9e9e9;
}

#search {
  display: flex;
  align-items: center;
}

#search-results-pane {
  position: fixed;
  width: 400px;
  max-height: calc(100vh - 60px);
  background-color: #030605;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  top: 53px;
  left: -600px;
  transition: all 0.3s ease-in-out;
}
#search-results-pane.active {
  left: 10px;
}
#search-results-pane .search-result {
  display: flex;
  border-bottom: 1px solid #363636;
  border-top: 1px solid #363636;
  margin: 0 16px 0 8px;
  padding: 10px 0;
  cursor: pointer;
}
#search-results-pane .search-result:hover {
  background-color: #363636;
}
#search-results-pane .search-result:first-child {
  margin-top: 8px;
}
#search-results-pane .search-result:last-child {
  margin-bottom: 8px;
}
#search-results-pane .search-result .image {
  background-color: transparent;
  width: 60px;
  height: 60px;
  margin: 0 10px;
}
#search-results-pane .search-result .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#search-results-pane .search-result .content .name {
  font-size: 1rem;
  line-height: 1.5rem;
}
#search-results-pane .search-result .content .details {
  font-size: 0.9rem;
  color: #d9dddc;
  line-height: 1.2rem;
}
#search-results-pane .search-no-result {
  display: flex;
  align-items: center;
  padding: 20px;
}

#tasks-pane {
  position: fixed;
  width: 300px;
  min-height: 80px;
  max-height: calc(100vh - 62px);
  background-color: #030605;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  top: -100vh;
  right: 10px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  z-index: 40;
}
#tasks-pane.active {
  top: 62px;
}
#tasks-pane .task {
  display: flex;
}
#config-pane {
  background-color: #363636;
  position: fixed;
  width: 400px;
  height: calc(100vh - 62px);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  top: 62px;
  right: -800px;
  padding: 10px;
  transition: all 0.2s ease-in-out;
  z-index: 30;
}
#config-pane.active {
  right: 10px;
}

main#content {
  grid-area: content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  overflow-y: scroll;
  overflow-x: hidden;
}
