body{
  font-size:0.9rem;
  font-family:Helvetica Neue, sans-serif;
}

#toolbar{
  position:sticky;
  height:50px;
  top:9px;
  display:flex;
  align-items:center;
  justify-content:center;
  background-color:#fffc;
  z-index:100;
  transition:background-color 0.15s ease-in-out;
  backdrop-filter:blur(4px);
  -webkit-backdrop-filter:blur(4px);
}
#sidebar{
  float:left;
  max-width:300px;
  position:sticky;
  top:59px;
  font-size:1.1rem;
  height:100vh;
  transition:background-color 0.15s ease-in-out;
  margin-right:8px;
  display:flex;
  flex-direction:column;
}
#sidebar > *{
  height:28px;
  width:28px;
  padding:8px;
  color:#ccc;
  cursor:pointer;
  transition:all 0.15s ease-in-out;
}
main{
  max-width:1440px;
  margin:0 auto;
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(200px,1fr));
  gap:16px;
}

main > *{
  display:flex;
  flex-direction:column;
  margin:0 0 2px 0;
  padding:0 0 8px 0;
  border-radius:2px;
  transition:all 0.15s ease-in-out;
  min-width: 200px;
  max-width: 240px;
}
main img{
  min-height:200px;
  min-width:200px;
  max-height:240px;
  max-width:240px;
  background-color:#eeec;
  border-radius:2px;
  color:#888;
  font-size:1.3rem;
  font-weight:bold;
  text-align:center;
  display:flex;
  justify-content:center;
  align-items:center;
  transition:transform 0.15s ease-in-out;
  cursor:pointer;
}
#modal{
  visibility:hidden;
  opacity:0;

  position:fixed;
  background:linear-gradient(180deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.9));
  top:58px;
  left:50px;
  right:0;
  margin:0 auto;
  width:100%;
  height:100%;
  max-width:1290px;
  max-height:calc(100vh - 58px);
  overflow:scroll;
  display:flex;
  flex-direction:column;
  backdrop-filter:blur(12px);
  -webkit-backdrop-filter:blur(12px);
}
#modal > img {
  height:300px;
  width:300px;
  min-height:300px;
  min-width:300px;
}
/*main > .selected{
  outline:auto;
  background-color:#007aff;
  color:white;
}
*/
/*main > .selected img{
  transform:scale(0.975);
}
*/
/*main.selected-only > *:not(.selected) {
  display:none;
}*/
#sidebar > *.selected,#sidebar > .selected:hover{
  color:#007aff;
  background-color:#ddd;
}
#toolbar:hover{
  background-color:#eee;
}
#sidebar:hover{
  background-color:#eee;
}
#sidebar > *:hover{
  color:#444;
  background-color:#ddd;
}
main > *:hover img{
  transform:scale(1.025);
}
main > * > span:hover{
  text-decoration:underline;
}
#modal.show{
/*  transition:opacity 0.4s ease-in-out;*/
  visibility:visible;
  opacity:1;


  -webkit-animation: fadeInFromNone 0.5s ease-out;
  -moz-animation: fadeInFromNone 0.5s ease-out;
  -o-animation: fadeInFromNone 0.5s ease-out;
  animation: fadeInFromNone 0.5s ease-out;


}


@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-moz-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}